#jumbotron {
	background: url(../images/RMX-60-1204x643.png) no-repeat;
	background-size: cover;
}

#mainArea {

	overflow: hidden;
}

.col-style {
	background: #464545;
	margin-top: 10px;
	margin-bottom: 10px;
}

#word li {
	position: relative;
	list-style: none;
	display: inline-block;
	
		
}